<!-- load head -->
<%- include('partials/head.ejs') %>
<!--load navigation  -->
<%- include('partials/navigation.ejs') %>
<div class="app-wrapper">
<!-- Header -->
<div class="d-flex align-items-center mb-4">
<button class="btn p-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#menu">
<i class="bi bi-list fs-3"></i>
</button>
<div>
<h5 class="mb-0 fw-bold">Good Evening</h5>
<small class="text-muted">Sharanya!</small>
</div>
</div>
<!-- pass a success flash messages -->
<% if(success.length) { %> 
<div class="alert alert-success w-100 mx-auto" role="alert">
 <span class="text-dark"><%= success %></span>   
</div>
<% } %> 

<!-- pass error flash messages -->
<% if(error.length) { %> 
<div class="alert alert-danger w-100 mx-auto" role="alert">
 <span class="text-dark"><%= error %></span>   
</div>
<% } %> 
<!-- Important -->
<div class="section-title">Manage All Task</div>
<!-- display all dynamic task  -->

<div class="task-card shadow flex flex-wrap">

<% data.forEach(items=>{ %>   
<div class="w-100">
<strong>Task : <span class="text-success"><%= items.title %></span></strong><br>
<strong>Task types : <span class="text-success"><%= items.tasktype %></span></strong><br>
<strong>Added Date : <span class="text-success"><%= items.added_date %></span></strong><br>
<small>Start and End Time : <%= items.start_time %> - <%= items.end_time %></small>
</div>
<div class="w-100 mt-2">
<a href="/delete/<%= items.id %>" onclick="return confirm('Are you sure to delete task ?')"><button type="button" class="btn btn-sm btn-danger text-white"><span class="">Delete</span></button></a>

<a href="/edit/<%= items.id %>" onclick="return confirm('Are you sure to Edit task ?')"><button type="button" class="btn btn-sm btn-primary text-white"><span class="">Edit</span></button></a>
</div>
<%  }) %>


</div>

<!-- Floating Button -->
<button class="fab" data-bs-toggle="modal" data-bs-target="#addTaskModal">+</button>
<!-- create a modal of add task -->

<!-- Add Task Modal -->
<%- include('addtask') %>

</div>