<!-- load head -->
<%- include('partials/head.ejs') %>
<!--load navigation  -->
<%- include('partials/navigation.ejs') %>
<div class="app-wrapper">
<!-- Header -->
<div class="d-flex align-items-center mb-4">
<button class="btn p-0 me-3" data-bs-toggle="offcanvas" data-bs-target="#menu">
<i class="bi bi-list fs-3"></i>
</button>
<div>
<h5 class="mb-0 fw-bold">Good Evening</h5>
<small class="text-muted">Sharanya!</small>
</div>
</div>
<!-- pass a success flash messages -->
<% if(success.length) { %> 
<div class="alert alert-success w-100 mx-auto" role="alert">
<span class="text-dark"><%= success %></span>   
</div>
<% } %> 

<!-- pass error flash messages -->
<% if(error.length) { %> 
<div class="alert alert-danger w-100 mx-auto" role="alert">
<span class="text-dark"><%= error %></span>   
</div>
<% } %> 
<!-- Important -->
<div class="section-title">Edit All Task</div>
<!-- display all dynamic task  -->
<div class="task-card shadow flex flex-wrap">
<form method="post" action="/update/<%= data.id %>"> 
<div class="w-100">
<strong>Edit Task : <span class="text-success">
<br>
<input type="text" name="title" value="<%= data.title %>" class="form-control"></span></strong>
<br>
<strong>Edit Task types : <span class="text-success">
<br>
<input type="text" name="tasktype" value="<%= data.tasktype %>" class="form-control"></span></strong>
<br>
<strong>Edit Added Date : <span class="text-success">
<br>
<input type="text" name="added_date" value="<%= data.added_date %>" class="form-control"></span></strong>
<br>
<strong>edit Start and End Time :</strong><br>
<input type="text" name="start_time" value="<%= data.start_time %>" class="w-25"> - <input type="text" name="end_time" value="<%= data.end_time %>" class="w-25">
</div>
<div>
<br>  
<button type="submit" class="btn btn-md btn-success">Update Task</button>   
</div>
</form>
</div>