<!-- used layout here -->
<%- include('layout') %>
<main class="p-6 flex-1 overflow-y-auto">
<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
<div class="col-span-1 sm:col-span-2 lg:col-span-3 bg-white shadow-md rounded-lg p-6">
<h2 class="text-2xl font-semibold mb-6">Manage Students</h2>
<table id="shwdata" class="min-w-full border border-gray-200 rounded-lg">
<% if(success_msg.length) { %> 
<div class="overflow-x-auto">
<div class="bg-green-600 p-3 w-80">
<span class="text-dark"><%= success_msg %></span>   
</div>
</div>
<% } %>    
<thead class="bg-gray-100">
<tr>
<th class="px-4 py-3 text-left text-sm font-semibold text-gray-600 border-b">ID</th>
<th class="px-4 py-3 text-left text-sm font-semibold text-gray-600 border-b">Name</th>
<th class="px-4 py-3 text-left text-sm font-semibold text-gray-600 border-b">Email</th>
<th class="px-4 py-3 text-left text-sm font-semibold text-gray-600 border-b">Age</th>
<th class="px-4 py-3 text-center text-sm font-semibold text-gray-600 border-b">Actions</th>
</tr>
</thead>
<tbody class="divide-y divide-gray-200">
<!-- fetch all students data -->
<% stdItems.forEach((row,index)=>{ %>
<tr class="hover:bg-gray-50">
<td class="px-4 py-3"><%= index+1 %></td>
<td class="px-4 py-3"><%= row.name %></td>
<td class="px-4 py-3"><%= row.email %></td>
<td class="px-4 py-3"><%= row.age %></td>
<td class="px-4 py-3 text-center space-x-2">
<a href="/delete/<%= row._id %>" onclick="return confirm('Are you sure to delete data ?')"><button class="bg-red-600 text-white px-3 py-1 rounded hover:bg-red-700 text-sm">
Delete
</button></a>
| 
<a href="/edit/<%= row._id %>"<button class="bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600 text-sm">
Edit
</button></a>
</td>
</tr>
<% }) %>
</tbody>
</table>
</div>

</div>

</div>
</main>
<!-- JS -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.7/js/dataTables.js"></script>
<script>
new DataTable('#shwdata');    
</script>
